<?xml version="1.0" encoding="utf-8" ?>
<!--
Author:   Nicholas Lozon
Date:     March 22, 2010
Details:  Remoting config file.
Changes:
    March 22, 2010
      - Using http reference instead of a custom one.
    March 30, 2010
      - Added serverProviders tag for callbacks.
      - Added port #0 for callback ports automatically assigned.
-->
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel port="0" ref="http">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
       </channels>
    </application>
  </system.runtime.remoting>
</configuration>