<?xml version="1.0" encoding="utf-8" ?>
<!--
Author: Nicholas Lozon
Date: March 22, 2010
Description: Remoting config file.
Changes:
  March 22, 2010 - Using http reference instead of a custom one.
  March 30, 2010 - Added serverProviders tag for callbacks.
-->
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton"
                   type="GameServer.Game, GameServer"
                   objectUri="gamestate.soap"/>
      </service>
      <channels>
        <channel port="10000" ref="http">
          <!-- for call backs -->
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>