<?xml version="1.0" encoding="utf-8" ?>
<!--
Author: Nicholas Lozon
Date: March 22, 2010
Description: Remoting config file.
Changes:
  March 22, 2010 - Using http reference instead of a custom one.
-->
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="GameLibrary.IGame, GameLibrary"
                  url="http://localhost:10000/gamestate.soap"/>
      </client>
      <channels>
        <channel ref="http"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>