<?xml version="1.0" encoding="utf-8" ?>
<!--
Author: Nicholas Lozon
Date: March 22, 2010
Description: Remoting config file.
Changes:
  March 22, 2010 - Using http reference instead of a custom one.
-->
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton"
                   type="GameServer.GameState, GameServer"
                   objectUri="gamestate.soap"/>
      </service>
      <channels>
        <channel port="10000" ref="http"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>