<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton"
                   type="GameServer.GameState, GameServer"
                   objectUri="gamestate.soap"/>
      </service>
      <channels>
        <channel port="10000"
                 type="System.Runtime.Remoting.Channels.Http.HttpChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>